.page.page--main.layout-row.layout-fill
  md-sidenav(md-is-locked-open="true")
    teamdecode-user-info
    .create-project
      h5.create-project__title lorem
      span.create-project__icon(ng-click="")
    teamdecode-project-list
    span Log out
  md-content.layout-row.layout-fill.layout-align-center-start
    md-toolbar
      h5 lorem
