$black-solid:       #000000;
$mine-shaft-approx: #212121;
$shark-approx:      #292c33;
$silver-approx:     #bdbdbd;
$alto-solid:        #dbdbdb;
$gallery-approx:    #eaeaea;
$wild-sand-approx:  #f6f6f6;
$alabaster-approx:  #f7f7f7;
$white-solid:       #ffffff;
$roman-approx:      #dd5b4f;
$kimberly-approx:   #6b6b99;
$cadet-blue-approx: #b1b1c8;
$heather-approx:    #b3bbcb;
$heather-approx:    #b3bbcb;
$abbey-approx:      #51555e;

$base-subnav-background-color:    $shark-approx;
$base-background-color:           $alabaster-approx;
$top-panel-bottom-line:           $silver-approx;
$teamdecode-search-icon:          $heather-approx;
$toolbar-project-actions-icon:    $heather-approx;
$avatar-border:                   $white-solid;
$avatar-name-text:                $white-solid;
$create-project:                  $heather-approx;
$project-list:                    $kimberly-approx;
$project-list-item-text:          $white-solid;
$log-out-text:                    $white-solid;
$log-out-text:                    $silver-approx;
$create-project-background-color: $shark-approx;
$create-project-input-color:      $wild-sand-approx;
$create-project-input-border:     $silver-approx;
$create-project-toolbar:          $shark-approx;
$create-task-background-color:    $shark-approx;
$create-task-input-color:         $wild-sand-approx;
$create-task-input-border:        $silver-approx;
$create-task-toolbar:             $shark-approx;
$task-details-background-color:   $shark-approx;
$task-details-toolbar:            $shark-approx;
$task-details-text:               $alto-solid;
$task-details-edit-delate-icon:   $abbey-approx;
$teamdecode-task-list-task-text:  $mine-shaft-approx;
$teamdecode-task-list-checbox:    $silver-approx;
